.bg-black {
  background-color: #26211e;
}
.white-noise {
  background-repeat: repeat;
  background-position: center;
  background-image: url("/images/bkgrnd-white-noise.jpg");
}
.black-noise {
  background-image: url("/images/bkgrnd-banner.jpg");
  background-repeat: repeat;
  background-position: top;
}
.blue-noise {
  background-repeat: repeat;
  background-position: center;
  background-image: url("/images/bkgrnd-blue-noise.jpg");
}
